/*
 * Created by Zachary Ferguson
 * Style based off of phaser.io's css.
 */

html {
    position: relative;
    min-height: 100%;
}

/* Define Open Sans font */

@font-face {
    font-family: "Open Sans";
    src: url("assets/fonts/OpenSans.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("assets/fonts/OpenSans-Bold.ttf");
    font-weight: bold;
}

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", Times;
    font-size: 22px;
    /* color: white; */
    background-color: #e1e4f0;
}

header {
    text-align: center;
    padding: 20px 0px;
    font-size: 44pt;
    font-weight: bold;
    width: 100%;
    margin: 2px auto;
    color: white;
    text-shadow: 1px 1px 2px rgba(182, 27, 242, 0.4), 1px -1px 2px rgba(182, 27, 242, 0.4), -1px 1px 2px rgba(182, 27, 242, 0.4), -1px -1px 2px rgba(182, 27, 242, 0.4), 0 0 20px rgba(0, 134, 255, 0.75);
    /* background-color: #f0f2f8; */
    /* box-shadow: 0 0 2px 2px rgba(166, 168, 178, 0.5); */
}

article {
    margin: 40px auto;
    margin-bottom: 120px;
}

section.preview {
    max-width: 800px;
    margin: 0 auto 40px auto;
    overflow: hidden;
    background-color: #f0f2f8;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px rgba(166, 168, 178, 0.5);
    color: #383838;
    border: 0px;
    line-height: 30px;
}

section.preview>a>img {
    max-width: 280px;
    max-height: 158px;
    float: left;
    display: inline;
}

section.preview>div.text {
    margin: 10px 0px 0px 300px;
    padding-right: 20px;
}

section.preview>div.text>a.title {
    padding-bottom: 10px;
    font-weight: bold;
    font-style: strong;
}

section.preview>div.text>a.title:hover {
    text-decoration: none;
}

section.preview>div.text>p {
    clear: right;
    font-size: 0.8em;
    line-height: 1.4em;
    margin-top: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    font-size: 12px;
    padding: 20px 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

a:link {
    color: #99388c;
    text-decoration: none;
}

/* unvisited link  */

a:visited {
    color: #99388c;
    text-decoration: none;
}

/* visited link    */

a:hover {
    color: #801D71;
    text-decoration: none;
}

/* mouse over link */

a:active {
    text-decoration: none;
}

/* selected link   */

@media screen and (max-width:767px) {
    body {
        font-size: 15px;
    }
    section.preview {
        line-height: 18px;
    }
}