/*
 * Created by Zachary Ferguson
 * Style based off of phaser.io's css.
 */

:root {
    --text-color: #505050;
}

html {
    position: relative;
    min-height: 100%;
}

/* Define Open Sans font */

@font-face {
    font-family: "Open Sans";
    src: url("assets/fonts/OpenSans.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("assets/fonts/OpenSans-Bold.ttf");
    font-weight: bold;
}

body {
    margin: auto;
    background-color: #e1e4f0;
    font-family: "Open Sans", Arial;
    color: var(--text-color);
    font-size: 14pt;
}

header {
    text-align: center;
    padding: 20px 0px;
    font-size: 44pt;
    font-weight: bold;
    width: 100%;
    margin: 2px auto;
    color: white;
    /* text-shadow: 1px 1px 2px rgba(182, 27, 242, 0.4), 1px -1px 2px rgba(182, 27, 242, 0.4), -1px 1px 2px rgba(182, 27, 242, 0.4), -1px -1px 2px rgba(182, 27, 242, 0.4), 0 0 20px rgba(0, 134, 255, 0.75); */
    text-shadow: 2px 2px 4px rgba(182, 27, 242, 0.4), 2px -2px 4px rgba(182, 27, 242, 0.4), -2px 2px 4px rgba(182, 27, 242, 0.4), -2px -2px 4px rgba(182, 27, 242, 0.4), 0 0 40px rgba(0, 134, 255, 0.75);
    background-color: #f0f2f8;
    box-shadow: 0 0 2px 2px rgba(166, 168, 178, 0.5);
    margin: 0;
}

header .subheading {
    color: var(--text-color);
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
    font-size: 13pt;
    text-shadow: none;
}

article {
    margin: auto;
    padding: 20px 50px 85px;
    max-width: 1000px;
}

.video-container {
    position: relative;
    padding-bottom: calc(56.25% * 0.75);
    padding-top: -1px;
    height: 0;
    width: 75%;
    /* max-width: 750px; */
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section.preview {
    margin: 0 auto 40px auto;
    overflow: hidden;
    background-color: #f0f2f8;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px rgba(166, 168, 178, 0.5);
    color: #383838;
    border: 0px;
    line-height: 30px;
}

section.preview img {
    max-width: 300px;
    /* max-height: 158px; */
    /* float: left;
    display: inline;
    margin-right: 15px; */
    padding: 0px;
    margin-right: 10px;
    vertical-align: middle;
}

section.preview .text {
    /* margin: 10px 0px 0px 300px;
    padding-right: 20px; */
    border: var(--border);
    display: inline-block;
    vertical-align: middle;
    max-width: calc(100% - 300px - 10px - 15px);
}

section.preview .title {
    padding-bottom: 10px;
    font-weight: bold;
}

section.preview .title:hover {
    text-decoration: none;
}

section.preview .text p {
    clear: right;
    font-size: 14pt;
    line-height: 1.4em;
    margin-top: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: var(--text-color);
    /* background: linear-gradient(#e1e4f0, #b4b6bf); */
    background-color: #f0f2f8;
    text-align: center;
    font-size: 9pt;
    padding: 5px 0px;
}

a:link {
    color: #99388c;
    text-decoration: none;
}

/* unvisited link  */

a:visited {
    color: #99388c;
    text-decoration: none;
}

/* visited link    */

a:hover {
    color: #801D71;
    text-decoration: none;
}

/* mouse over link */

a:active {
    text-decoration: none;
}

/* selected link   */

@media screen and (max-width:700px) {
    .video-container {
        padding-bottom: calc(56.25%);
        width: 100%;
    }
    section.preview {
        margin: 20px 0;
    }
    section.preview img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
        padding-right: 0;
        padding-bottom: 10px;
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    section.preview .text {
        max-width: 100%;
        display: block;
        margin-left: 10px;
        margin-right: 10px;
    }
    section.preview p.title {
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;
        padding: 0px;
    }
}